java/rules.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="rule">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="option_id" type="xs:integer"/>
      <xs:element name="referenced_option_id" type="xs:integer"/>
      <xs:element name="whitelist" type="xs:boolean"/>
      <xs:element name="value" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>